In [1194]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [1195]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [1196]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for temps in June

In [1197]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 

results = session.query(Measurement.tobs).\
filter(func.strftime("%m", Measurement.date) == "06")

In [1198]:
#  3. Convert the June temperatures to a list.
results = session.query(Measurement.tobs).\
filter(func.strftime("%m", Measurement.date) == "06").all()

In [1199]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
df = pd.DataFrame(results, columns=['June Temps'])

In [1200]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
df.describe()

        June Temps
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for temps in December.

In [1201]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results = session.query(Measurement.tobs).\
filter(func.strftime("%m", Measurement.date) == "12")

In [1202]:
# 7. Convert the December temperatures to a list.
results = session.query(Measurement.tobs).\
filter(func.strftime("%m", Measurement.date) == "12").all()

In [1203]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
df = pd.DataFrame(results, columns=['December Temps'])

In [1204]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
df.describe()

       December Temps
count     1517.000000
mean        71.041529
std          3.745920
min         56.000000
25%         69.000000
50%         71.000000
75%         74.000000
max         83.000000

## Determine the Summary Statistics for precipitation in June.

In [1205]:
# Writing a query to retrieve precipitation data for JUNE.
results = session.query(Measurement.prcp).\
filter(func.strftime("%m", Measurement.date) == "06")

# Outputting "results" to a list.
results = session.query(Measurement.prcp).\
filter(func.strftime("%m", Measurement.date) == "06").all()

# Create a DataFrame from the list of precipitation for the month of JUNE. 
df1 = pd.DataFrame(results, columns=['June Precipitation'])

In [1206]:
# Calculate and print out the summary statistics for the JUNE precipitation DataFrame.
df1.describe()

       June Precipitation
count         1574.000000
mean             0.136360
std              0.335731
min              0.000000
25%              0.000000
50%              0.020000
75%              0.120000
max              4.430000

## Determine the Summary Statistics for precipitation in December.

In [1207]:
# Writing a query to retrieve precipitation data for DECEMBER.
results = session.query(Measurement.prcp).\
filter(func.strftime("%m", Measurement.date) == "12")

# Outputting "results" to a list.
results = session.query(Measurement.prcp).\
filter(func.strftime("%m", Measurement.date) == "12").all()

# Create a DataFrame from the list of precipitation for the month of DECEMBER. 
df1 = pd.DataFrame(results, columns=['December Precipitation'])

In [1208]:
# Calculate and print out the summary statistics for the DECEMBER precipitation DataFrame.
df1.describe()

       December Precipitation
count             1405.000000
mean                 0.216819
std                  0.541399
min                  0.000000
25%                  0.000000
50%                  0.030000
75%                  0.150000
max                  6.420000